<a href="https://colab.research.google.com/github/glebmikha/ds-course/blob/main/04_machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Мой Telegram-канал: https://t.me/mikhaylovgleb

# Загрузка данных

https://www.kaggle.com/adityadesai13/used-car-dataset-ford-and-mercedes?select=bmw.csv

https://drive.google.com/file/d/10pq7rvk_FtY-ulQ8ldVM4QAtaR6LWt-j/view?usp=sharing

In [ ]:
! gdown --id 10pq7rvk_FtY-ulQ8ldVM4QAtaR6LWt-j

Downloading...
From: https://drive.google.com/uc?id=10pq7rvk_FtY-ulQ8ldVM4QAtaR6LWt-j
To: /content/uk-used-cars.zip
100% 1.15M/1.15M [00:00<00:00, 23.3MB/s]

In [ ]:
! unzip /content/uk-used-cars.zip -d /content/uk-used-cars

Archive:  /content/uk-used-cars.zip
  inflating: /content/uk-used-cars/audi.csv
  inflating: /content/uk-used-cars/bmw.csv
  inflating: /content/uk-used-cars/cclass.csv
  inflating: /content/uk-used-cars/focus.csv
  inflating: /content/uk-used-cars/ford.csv
  inflating: /content/uk-used-cars/hyundi.csv
  inflating: /content/uk-used-cars/merc.csv
  inflating: /content/uk-used-cars/skoda.csv
  inflating: /content/uk-used-cars/toyota.csv
  inflating: /content/uk-used-cars/unclean cclass.csv
  inflating: /content/uk-used-cars/unclean focus.csv
  inflating: /content/uk-used-cars/vauxhall.csv
  inflating: /content/uk-used-cars/vw.csv

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/uk-used-cars/bmw.csv')

In [ ]:
df.head()

       model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   5 Series  2014  11200    Automatic    67068   Diesel  125  57.6         2.0
1   6 Series  2018  27000    Automatic    14827   Petrol  145  42.8         2.0
2   5 Series  2016  16000    Automatic    62794   Diesel  160  51.4         3.0
3   1 Series  2017  12750    Automatic    26676   Diesel  145  72.4         1.5
4   7 Series  2014  14500    Automatic    39554   Diesel  160  50.4         3.0

# Обучающая и тестовая выборка (train and test)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train, test = train_test_split(df,train_size=0.6,random_state=42)

# Валидационная выборка

In [ ]:
len(train) / len(df)

0.5999443465355718

In [ ]:
len(test) / len(df)

0.4000556534644282

In [ ]:
val, test = train_test_split(test,train_size=0.5,random_state=42)

In [ ]:
len(train) / len(df)

0.5999443465355718

In [ ]:
len(val) / len(df)

0.19998144884519062

In [ ]:
len(test) / len(df)

0.20007420461923756

# Список фичей

In [ ]:
train.columns

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize'],
      dtype='object')

In [ ]:
train

          model  year  price transmission  ...  fuelType  tax   mpg  engineSize
5133         X6  2015  25000    Semi-Auto  ...    Diesel  205  45.6         3.0
2121         X2  2019  31980    Automatic  ...    Petrol  145  34.0         2.0
6576         X2  2018  22995    Semi-Auto  ...    Petrol  145  38.7         2.0
8330   3 Series  2016  12999       Manual  ...    Diesel  125  62.8         2.0
3161         X3  2019  32980    Semi-Auto  ...    Diesel  150  54.3         2.0
...         ...   ...    ...          ...  ...       ...  ...   ...         ...
5734   3 Series  2018  17995    Semi-Auto  ...    Diesel  145  64.2         2.0
5191   1 Series  2016  19950    Semi-Auto  ...    Petrol  200  39.8         3.0
5390         X2  2019  25450    Semi-Auto  ...    Diesel  145  47.9         2.0
860          X1  2016  19850    Semi-Auto  ...    Diesel  125  60.1         2.0
7270   1 Series  2016  15745    Automatic  ...    Petrol  125  54.3         1.5

[6468 rows x 9 columns]

In [ ]:
X = ['model', 'year', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize']

cat_features = ['model', 'transmission', 'fuelType']

y = ['price']

# Принцип преобразования категориальных фичей

In [ ]:
train['transmission']

5133    Semi-Auto
2121    Automatic
6576    Semi-Auto
8330       Manual
3161    Semi-Auto
          ...
5734    Semi-Auto
5191    Semi-Auto
5390    Semi-Auto
860     Semi-Auto
7270    Automatic
Name: transmission, Length: 6468, dtype: object

In [ ]:
pd.get_dummies(train['transmission'])

      Automatic  Manual  Semi-Auto
5133          0       0          1
2121          1       0          0
6576          0       0          1
8330          0       1          0
3161          0       0          1
...         ...     ...        ...
5734          0       0          1
5191          0       0          1
5390          0       0          1
860           0       0          1
7270          1       0          0

[6468 rows x 3 columns]

https://catboost.ai/en/docs/concepts/algorithm-main-stages_cat-to-numberic

# Первый запуск Кэтбуста

In [ ]:
! pip install catboost

Collecting catboost
  Downloading catboost-1.0.4-cp37-none-manylinux1_x86_64.whl (76.1 MB)
     |████████████████████████████████| 76.1 MB 44 kB/s
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.21.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.7)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (8.0.1)
Installing collected packages: catboost
Successfully installed catboost-1.0.4

In [ ]:
train

          model  year  price transmission  ...  fuelType  tax   mpg  engineSize
5133         X6  2015  25000    Semi-Auto  ...    Diesel  205  45.6         3.0
2121         X2  2019  31980    Automatic  ...    Petrol  145  34.0         2.0
6576         X2  2018  22995    Semi-Auto  ...    Petrol  145  38.7         2.0
8330   3 Series  2016  12999       Manual  ...    Diesel  125  62.8         2.0
3161         X3  2019  32980    Semi-Auto  ...    Diesel  150  54.3         2.0
...         ...   ...    ...          ...  ...       ...  ...   ...         ...
5734   3 Series  2018  17995    Semi-Auto  ...    Diesel  145  64.2         2.0
5191   1 Series  2016  19950    Semi-Auto  ...    Petrol  200  39.8         3.0
5390         X2  2019  25450    Semi-Auto  ...    Diesel  145  47.9         2.0
860          X1  2016  19850    Semi-Auto  ...    Diesel  125  60.1         2.0
7270   1 Series  2016  15745    Automatic  ...    Petrol  125  54.3         1.5

[6468 rows x 9 columns]

In [ ]:
from catboost import CatBoostRegressor

In [ ]:
X = ['year', 'transmission', 'engineSize']

cat_features = ['transmission']

y = ['price']

https://catboost.ai/en/docs/references/custom-metric__supported-metrics

In [ ]:
model = CatBoostRegressor(cat_features=cat_features,
                          eval_metric='MAPE',
                          random_seed=42,
                          verbose=100)

In [ ]:
model.fit(train[X],train[y],eval_set=(val[X],val[y]))

Learning rate set to 0.068263
0:	learn: 0.4603375	test: 0.4555509	best: 0.4555509 (0)	total: 50.8ms	remaining: 50.7s
100:	learn: 0.1546393	test: 0.1529687	best: 0.1529687 (100)	total: 341ms	remaining: 3.04s
200:	learn: 0.1528213	test: 0.1517332	best: 0.1517332 (200)	total: 734ms	remaining: 2.92s
300:	learn: 0.1517532	test: 0.1514386	best: 0.1514000 (288)	total: 1.08s	remaining: 2.51s
400:	learn: 0.1509722	test: 0.1515508	best: 0.1514000 (288)	total: 1.38s	remaining: 2.06s
500:	learn: 0.1502967	test: 0.1516166	best: 0.1514000 (288)	total: 1.75s	remaining: 1.74s
600:	learn: 0.1499412	test: 0.1516849	best: 0.1514000 (288)	total: 2.13s	remaining: 1.42s
700:	learn: 0.1494768	test: 0.1516928	best: 0.1514000 (288)	total: 2.43s	remaining: 1.04s
800:	learn: 0.1490851	test: 0.1518297	best: 0.1514000 (288)	total: 2.73s	remaining: 679ms
900:	learn: 0.1487173	test: 0.1519119	best: 0.1514000 (288)	total: 3.03s	remaining: 333ms
999:	learn: 0.1483869	test: 0.1519628	best: 0.1514000 (288)	total: 3.32s	remaining: 0us

bestTest = 0.1514000297
bestIteration = 288

Shrink model to first 289 iterations.

In [ ]:
model.predict(test[X])

array([45436.28801924, 21738.83525716, 16205.32627896, ...,
       28444.11570854, 16205.32627896, 27824.78614511])

In [ ]:
test['price_pred'] = model.predict(test[X])

In [ ]:
test

          model  year  price transmission  ...  tax    mpg  engineSize    price_pred
4984         X6  2019  52990    Semi-Auto  ...  145   34.9         3.0  45436.288019
4880         X1  2018  24081    Semi-Auto  ...  150   60.1         2.0  21738.835257
9132   1 Series  2016  12999    Automatic  ...  200   43.5         2.0  16205.326279
6451   1 Series  2020  11995    Semi-Auto  ...  150   34.5         2.0  32088.707415
7199   3 Series  2020  29875    Semi-Auto  ...  145   42.2         2.0  32088.707415
...         ...   ...    ...          ...  ...  ...    ...         ...           ...
9627   3 Series  2015  14999    Automatic  ...  160   52.3         3.0  19357.530409
6096   4 Series  2019  29676    Automatic  ...  145   41.5         3.0  44808.449332
1747   5 Series  2019  30570    Automatic  ...  145   49.6         2.0  28444.115709
4023   3 Series  2016  14999    Automatic  ...    0  148.7         2.0  16205.326279
4372   2 Series  2019  24590    Semi-Auto  ...  145   48.7         2.0  27824.786145

[2157 rows x 10 columns]

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error

In [ ]:
def error(y_true,y_pred):
  print(mean_absolute_error(y_true,y_pred))
  print(mean_absolute_percentage_error(y_true,y_pred))

In [ ]:
error(test['price'],test['price_pred'])

3366.679482256595
0.15363582890850797

# Обучаемся на всех фичах

In [ ]:
X = ['model', 'year', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize']

cat_features = ['model', 'transmission', 'fuelType']

y = ['price']

In [ ]:
parameters = {'cat_features': cat_features,
              'eval_metric': 'MAPE',
              'random_seed':42,
              'verbose':100}

In [ ]:
model = CatBoostRegressor(**parameters)

In [ ]:
model.fit(train[X],train[y],eval_set=(val[X],val[y]))

Learning rate set to 0.068263
0:	learn: 0.4607438	test: 0.4563750	best: 0.4563750 (0)	total: 12.5ms	remaining: 12.5s
100:	learn: 0.0904302	test: 0.0896388	best: 0.0896388 (100)	total: 1.02s	remaining: 9.06s
200:	learn: 0.0781784	test: 0.0803125	best: 0.0803125 (200)	total: 1.63s	remaining: 6.47s
300:	learn: 0.0729925	test: 0.0764506	best: 0.0764506 (300)	total: 2.45s	remaining: 5.69s
400:	learn: 0.0695552	test: 0.0744676	best: 0.0744553 (399)	total: 3.09s	remaining: 4.61s
500:	learn: 0.0670683	test: 0.0732827	best: 0.0732827 (500)	total: 4.18s	remaining: 4.16s
600:	learn: 0.0652835	test: 0.0726170	best: 0.0726128 (597)	total: 5.78s	remaining: 3.83s
700:	learn: 0.0636320	test: 0.0720622	best: 0.0720500 (695)	total: 7.24s	remaining: 3.09s
800:	learn: 0.0623408	test: 0.0714586	best: 0.0714329 (794)	total: 8.52s	remaining: 2.12s
900:	learn: 0.0611487	test: 0.0711564	best: 0.0711321 (898)	total: 10.3s	remaining: 1.13s
999:	learn: 0.0601407	test: 0.0708439	best: 0.0708403 (998)	total: 11.9s	remaining: 0us

bestTest = 0.07084025495
bestIteration = 998

Shrink model to first 999 iterations.

In [ ]:
test['price_pred_all'] = model.predict(test[X])

In [ ]:
error(test['price'],test['price_pred_all'])

1556.5378327680894
0.07367840910148211

# Количество итераций и learning rate

## Уменьшим learning rate

In [ ]:
X = ['year', 'transmission', 'engineSize']

cat_features = ['transmission']

y = ['price']

In [ ]:
model = CatBoostRegressor(cat_features=cat_features,
                          learning_rate = 0.03,
                          eval_metric='MAPE',
                          random_seed=42,
                          verbose=100)

In [ ]:
model.fit(train[X],train[y],eval_set=(val[X],val[y]))

0:	learn: 0.4746987	test: 0.4699730	best: 0.4699730 (0)	total: 20.8ms	remaining: 20.8s
100:	learn: 0.1681230	test: 0.1638970	best: 0.1638970 (100)	total: 753ms	remaining: 6.7s
200:	learn: 0.1561398	test: 0.1538311	best: 0.1538311 (200)	total: 1.44s	remaining: 5.73s
300:	learn: 0.1543096	test: 0.1525317	best: 0.1525309 (299)	total: 2.2s	remaining: 5.11s
400:	learn: 0.1534465	test: 0.1519221	best: 0.1519198 (397)	total: 2.74s	remaining: 4.1s
500:	learn: 0.1527824	test: 0.1516330	best: 0.1516164 (480)	total: 3.56s	remaining: 3.55s
600:	learn: 0.1522590	test: 0.1514284	best: 0.1514284 (600)	total: 4.33s	remaining: 2.87s
700:	learn: 0.1518052	test: 0.1513704	best: 0.1513673 (689)	total: 5.24s	remaining: 2.23s
800:	learn: 0.1514495	test: 0.1513967	best: 0.1513651 (703)	total: 5.99s	remaining: 1.49s
900:	learn: 0.1510958	test: 0.1513657	best: 0.1513489 (873)	total: 6.9s	remaining: 758ms
999:	learn: 0.1508297	test: 0.1513297	best: 0.1513168 (992)	total: 7.59s	remaining: 0us

bestTest = 0.1513167711
bestIteration = 992

Shrink model to first 993 iterations.

## Увеличим learning rate

In [ ]:
X = ['model', 'year', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize']

cat_features = ['model', 'transmission', 'fuelType']

y = ['price']

In [ ]:
parameters = {'cat_features': cat_features,
              'eval_metric': 'MAPE',
              'learning_rate': 0.08,
              'random_seed':42,
              'verbose':100}

In [ ]:
model = CatBoostRegressor(**parameters)

In [ ]:
model.fit(train[X],train[y],eval_set=(val[X],val[y]))

0:	learn: 0.4564416	test: 0.4521294	best: 0.4521294 (0)	total: 11.1ms	remaining: 11.1s
100:	learn: 0.0875290	test: 0.0867329	best: 0.0867329 (100)	total: 1.77s	remaining: 15.7s
200:	learn: 0.0760834	test: 0.0779235	best: 0.0779235 (200)	total: 3.3s	remaining: 13.1s
300:	learn: 0.0708670	test: 0.0740290	best: 0.0740290 (300)	total: 4.83s	remaining: 11.2s
400:	learn: 0.0676240	test: 0.0718814	best: 0.0718814 (400)	total: 6.2s	remaining: 9.26s
500:	learn: 0.0654070	test: 0.0709221	best: 0.0708594 (496)	total: 6.83s	remaining: 6.8s
600:	learn: 0.0638577	test: 0.0704606	best: 0.0704490 (599)	total: 7.45s	remaining: 4.95s
700:	learn: 0.0622969	test: 0.0698226	best: 0.0698226 (700)	total: 8.1s	remaining: 3.46s
800:	learn: 0.0609583	test: 0.0694169	best: 0.0694004 (791)	total: 8.74s	remaining: 2.17s
900:	learn: 0.0596089	test: 0.0689968	best: 0.0689945 (895)	total: 9.36s	remaining: 1.03s
999:	learn: 0.0584626	test: 0.0686829	best: 0.0686377 (993)	total: 10s	remaining: 0us

bestTest = 0.06863774536
bestIteration = 993

Shrink model to first 994 iterations.

## Останавливаем если нет улучшения

In [ ]:
X = ['year', 'transmission', 'engineSize']

cat_features = ['transmission']

y = ['price']

In [ ]:
model = CatBoostRegressor(cat_features=cat_features,
                          early_stopping_rounds=200,
                          eval_metric='MAPE',
                          random_seed=42,
                          verbose=100)

In [ ]:
model.fit(train[X],train[y],eval_set=(val[X],val[y]))

Learning rate set to 0.068263
0:	learn: 0.4603375	test: 0.4555509	best: 0.4555509 (0)	total: 4.26ms	remaining: 4.25s
100:	learn: 0.1546393	test: 0.1529687	best: 0.1529687 (100)	total: 299ms	remaining: 2.66s
200:	learn: 0.1528213	test: 0.1517332	best: 0.1517332 (200)	total: 543ms	remaining: 2.16s
300:	learn: 0.1517532	test: 0.1514386	best: 0.1514000 (288)	total: 821ms	remaining: 1.91s
400:	learn: 0.1509722	test: 0.1515508	best: 0.1514000 (288)	total: 1.11s	remaining: 1.65s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.1514000297
bestIteration = 288

Shrink model to first 289 iterations.

# Обучаемся на всех данных

In [ ]:
len(train)

6468

In [ ]:
len(val)

2156

In [ ]:
len(train) + len(val)

8624

In [ ]:
train_full = pd.concat([train,val])

In [ ]:
X = ['model', 'year', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize']

cat_features = ['model', 'transmission', 'fuelType']

y = ['price']

In [ ]:
parameters = {'cat_features': cat_features,
              'eval_metric': 'MAPE',
              'learning_rate': 0.08,
              'random_seed':42,
              'verbose':100}

In [ ]:
model = CatBoostRegressor(**parameters)

In [ ]:
model.fit(train[X],train[y],eval_set=(val[X],val[y]))

0:	learn: 0.4564416	test: 0.4521294	best: 0.4521294 (0)	total: 8.51ms	remaining: 8.5s
100:	learn: 0.0875290	test: 0.0867329	best: 0.0867329 (100)	total: 642ms	remaining: 5.71s
200:	learn: 0.0760834	test: 0.0779235	best: 0.0779235 (200)	total: 1.24s	remaining: 4.94s
300:	learn: 0.0708670	test: 0.0740290	best: 0.0740290 (300)	total: 1.86s	remaining: 4.31s
400:	learn: 0.0676240	test: 0.0718814	best: 0.0718814 (400)	total: 2.51s	remaining: 3.75s
500:	learn: 0.0654070	test: 0.0709221	best: 0.0708594 (496)	total: 3.16s	remaining: 3.15s
600:	learn: 0.0638577	test: 0.0704606	best: 0.0704490 (599)	total: 3.78s	remaining: 2.51s
700:	learn: 0.0622969	test: 0.0698226	best: 0.0698226 (700)	total: 4.42s	remaining: 1.88s
800:	learn: 0.0609583	test: 0.0694169	best: 0.0694004 (791)	total: 5.05s	remaining: 1.25s
900:	learn: 0.0596089	test: 0.0689968	best: 0.0689945 (895)	total: 5.68s	remaining: 625ms
999:	learn: 0.0584626	test: 0.0686829	best: 0.0686377 (993)	total: 6.35s	remaining: 0us

bestTest = 0.06863774536
bestIteration = 993

Shrink model to first 994 iterations.

In [ ]:
model.best_iteration_

993

In [ ]:
parameters = {'iterations': model.best_iteration_ + 1,
              'cat_features': cat_features,
              'eval_metric': 'MAPE',
              'learning_rate': 0.08,
              'random_seed':42,
              'verbose':100}

In [ ]:
parameters

{'cat_features': ['model', 'transmission', 'fuelType'],
 'eval_metric': 'MAPE',
 'iterations': 994,
 'learning_rate': 0.08,
 'random_seed': 42,
 'verbose': 100}

In [ ]:
model = CatBoostRegressor(**parameters)

In [ ]:
model.fit(train_full[X],train_full[y])

0:	learn: 0.4538016	total: 8.8ms	remaining: 8.73s
100:	learn: 0.0854178	total: 712ms	remaining: 6.29s
200:	learn: 0.0745022	total: 1.44s	remaining: 5.68s
300:	learn: 0.0701717	total: 2.16s	remaining: 4.98s
400:	learn: 0.0676577	total: 2.86s	remaining: 4.23s
500:	learn: 0.0656926	total: 3.54s	remaining: 3.48s
600:	learn: 0.0638104	total: 4.25s	remaining: 2.78s
700:	learn: 0.0624302	total: 4.97s	remaining: 2.08s
800:	learn: 0.0612275	total: 5.69s	remaining: 1.37s
900:	learn: 0.0599823	total: 6.42s	remaining: 663ms
993:	learn: 0.0590330	total: 7.1s	remaining: 0us

In [ ]:
test['price_pred_all_features_and_data'] = model.predict(test[X])

In [ ]:
error(test['price'],test['price_pred_all'])

1556.5378327680894
0.07367840910148211

In [ ]:
error(test['price'],test['price_pred_all_features_and_data'])

1512.6160783572977
0.07305203023986592

# Метрики регрессии

https://catboost.ai/en/docs/concepts/loss-functions-regression#objectives-and-metrics

# Меняем функцию оптимизации

In [ ]:
X = ['model', 'year', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize']

cat_features = ['model', 'transmission', 'fuelType']

y = ['price']

In [ ]:
parameters = {'cat_features': cat_features,
              'loss_function': 'MAE',
              'eval_metric': 'MAPE',
              'learning_rate': 0.1,
              'random_seed':42,
              'verbose':100}

In [ ]:
model = CatBoostRegressor(**parameters)

In [ ]:
model.fit(train[X],train[y],eval_set=(val[X],val[y]))

0:	learn: 0.3849345	test: 0.3793341	best: 0.3793341 (0)	total: 21.6ms	remaining: 21.6s
100:	learn: 0.0764009	test: 0.0774578	best: 0.0774578 (100)	total: 1.83s	remaining: 16.3s
200:	learn: 0.0666216	test: 0.0706498	best: 0.0706498 (200)	total: 3.18s	remaining: 12.7s
300:	learn: 0.0628577	test: 0.0695086	best: 0.0694924 (298)	total: 4.3s	remaining: 10s
400:	learn: 0.0605748	test: 0.0687890	best: 0.0687826 (399)	total: 4.99s	remaining: 7.45s
500:	learn: 0.0589764	test: 0.0683467	best: 0.0683222 (490)	total: 5.68s	remaining: 5.65s
600:	learn: 0.0579201	test: 0.0680567	best: 0.0680567 (600)	total: 6.36s	remaining: 4.22s
700:	learn: 0.0570454	test: 0.0678671	best: 0.0678659 (681)	total: 7.03s	remaining: 3s
800:	learn: 0.0563072	test: 0.0676018	best: 0.0676018 (800)	total: 7.7s	remaining: 1.91s
900:	learn: 0.0555798	test: 0.0674500	best: 0.0674384 (889)	total: 8.36s	remaining: 919ms
999:	learn: 0.0548863	test: 0.0673326	best: 0.0672972 (972)	total: 9.03s	remaining: 0us

bestTest = 0.0672972276
bestIteration = 972

Shrink model to first 973 iterations.

Мой Telegram-канал: https://t.me/mikhaylovgleb